<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Baram Legacy</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
        This web application serves to help in emulating the legacy version of the MMORPG Kingdom of the Winds. 
    </p>
  </body>
</html>