<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Baram Legacy</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>email me at mun5424gmail.com for more info. </p>
  </body>
</html>
