<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Baram Legacy</title>
  </head>
  <body>
    <h1>Help</h1>
    <p> 
      바람의나라 5.50 버전을 보존하고자 합니다. 
      <br>
      후원은 <%= link_to "여기", "https://www.youtube.com/watch?v=dQw4w9WgXcQ", style: 'color:#0000ff;' %>를 통해서 가능합니다.
      <br> 
      This website serves to keep a maintained information about the legacy version (5.50) of the MMORPG game Kingdom of the Winds.
      <br>
      Donations can be submitted <%= link_to "here", "https://www.youtube.com/watch?v=dQw4w9WgXcQ", style: 'color:#0000ff;' %>.
      email me at mun5424gmail.com for more info. </p>
  </body>
</html>
